@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/SF-Pro-Text-Regular.otf) format("truetype");
  }

  @font-face {
    font-family: "SFProText";
    font-style: medium;
    font-weight: 500;
    src: url(../fonts/SF-Pro-Text-Medium.otf) format("truetype");
  }

  @font-face {
    font-family: "SFProText";
    font-style: bold;
    font-weight: 700;
    src: url(../fonts/SF-Pro-Text-Bold.otf) format("truetype");
  }

  @font-face {
    font-family: "SFProText";
    font-style: bold;
    font-weight: 900;
    src: url(../fonts/SF-Pro-Text-Heavy.otf) format("truetype");
  }