@font-face {
  font-family: "SFProText";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SF-Pro-Text-Regular.otf) format("truetype");
}

@font-face {
  font-family: "SFProText";
  font-style: medium;
  font-weight: 500;
  src: url(../fonts/SF-Pro-Text-Medium.otf) format("truetype");
}

@font-face {
  font-family: "SFProText";
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/SF-Pro-Text-Bold.otf) format("truetype");
}

@font-face {
  font-family: "SFProText";
  font-style: bold;
  font-weight: 900;
  src: url(../fonts/SF-Pro-Text-Heavy.otf) format("truetype");
}

body {
  font-family: "SFProText", sans-serif;
}

@media (max-width: 1200px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  max-width: 1144px;
}

.header__nav {
  margin-left: auto;
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 41px;
  gap: 30px;
}

.header__nav__link {
  cursor: pointer;
}

.header__nav__link:hover {
  opacity: 80%;
}

.loading__spinner {
  margin: 0 auto;
  display: block;
  -webkit-filter: grayscale(10);
          filter: grayscale(10);
}

@media (max-width: 1024px) {
  .blog {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.blog__container {
  width: 100%;
  max-width: 1144px;
  margin: 0px auto;
}

.blog__listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1144px;
  margin: 0px auto;
}

.blog__listing__item {
  max-width: 330px;
  width: 100%;
  border: 1px solid #f5f5f5;
  padding: 10px;
  margin-bottom: 48px;
}

.blog__intro {
  max-width: 705px;
  width: 100%;
  margin: 0 auto;
}

.blog__intro__small__heading {
  margin-top: 91px;
}

.blog__intro__small__heading__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #4b4b4b;
}

.blog__intro__small__heading__date {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #6e6e6e;
}

.blog__intro__main__heading {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: #2c2c2c;
  margin-top: 10px;
}

.blog__intro__main__body {
  margin-top: 23px;
}

.blog__intro__block__picture {
  text-align: center;
  margin-top: 20px;
}

.blog__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2c2c2c;
  margin-top: 90px;
  margin-bottom: 23px;
}

.blog__small__heading {
  margin-top: 16px;
}

.blog__small__heading__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #4b4b4b;
  margin-right: 4px;
}

.blog__small__heading__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #6e6e6e;
  margin-left: 4px;
}

.blog__main__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2c2c2c;
  margin-top: 8px;
}

.blog__main__body {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #6e6e6e;
  max-width: 330px;
  width: 100%;
  margin-top: 8px;
}

.blog__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 22px;
}

.blog__footer__length {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #6e6e6e;
}

.blog__footer__details {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #1473e6;
  cursor: pointer;
  text-decoration: none;
}

.blog__footer__details:hover {
  color: darkblue;
}

.block__picture {
  width: 100%;
}

.blog__poster {
  width: 100%;
  height: 200px;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}

.blog__extended__poster {
  width: 501px;
  height: 327px;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1024px) {
  .page {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.blog__optimization__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1128px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 58px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .blog__optimization__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
}

.blog__optimization__picture {
  max-width: 500px;
  width: 100%;
}

.blog__optimization__content {
  max-width: 612.5px;
  width: 100%;
}

.blog__optimization__small__heading__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #4b4b4b;
}

.blog__optimization__small__heading__date {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #6e6e6e;
}

.blog__optimization__main__heading {
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #2c2c2c;
  margin-top: 8px;
  max-width: 463px;
  width: 100%;
}

.blog__optimization__main__body {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #6e6e6e;
  margin-top: 8px;
  max-width: 603px;
  width: 100%;
}

.blog__optimization__footer {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.blog__optimization__footer__length {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #6e6e6e;
}

.blog__optimization__footer__details {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #1473e6;
}

.blog__optimization__footer__details:hover {
  color: darkblue;
}

.optimization__picture {
  width: 100%;
}

.articles__card__container__next__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 47px;
  margin-top: 52px;
}

@media (max-width: 660px) {
  .articles__card__container__next__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.blog__joining {
  text-align: center;
  margin-top: 169px;
}

.blog__joining__heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #2c2c2c;
}

.blog__joining__body {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  margin-top: 12px;
  color: #6e6e6e;
  max-width: 741px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.blog__joining__button {
  background-color: #000000;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 55px;
  border: 0;
  cursor: pointer;
}

.blog__joining__button:hover {
  color: darkgray;
}

.blog__joining__button__container {
  margin-top: 35px;
}

.blog__extended__poster {
  width: 100%;
  height: 280px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.pagination__button {
  color: #ffffff;
  background-color: #000000;
  border: 0;
  outline: 0;
  padding: 10px 40px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */